#walrus-showing {
  display: none;
}

#penguin-down {
  display: none;
}

#fact-down {
  display: none;
}

.clickable, .walrus-clickable, .fact-clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover, .walrus-clickable:hover, .fact-clickable:hover {
  text-decoration: underline;
}